.add-property {
  display: grid;
  place-content: center;
  width: 80%;
  padding: 2.4rem;
  background-color: var(--color-cards-bg);
  border: 1px solid var(--color-grey-200);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--shadow-cards);
  box-shadow: var(--shadow-cards);
  margin: 2.4rem auto;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1.2rem 0 2.4rem;

    & p {
      font-size: 1.5rem;
    }
  }

}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > *:not(:last-child),
  &__addressBox > *:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  &__text-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > *:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  &__inputBox {
    position: relative;
    width: 100%;
    z-index: 2;
  }

  &__inputBox input {
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    width: 100%;
    padding: 1.2rem 0.6rem;
    z-index: 10;
    color: var(--color-text-primary);
  }

  &__inputBox span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.4rem;
    padding: 1.2rem 0.6rem;
    color: var(--color-text-primary);
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }

  &__inputBox input:not(:placeholder-shown) ~ span,
  &__inputBox input:focus ~ span {
    color: var(--color-primary);
    transform: translateX(-0.6rem) translateY(-2.2rem);
    font-size: 1.2rem;
  }

  &__inputBox i {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-text-primary);
    border-radius: var(--border-radius);
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }

  &__inputBox input:not(:placeholder-shown) ~ i,
  &__inputBox input:focus ~ i {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
  }

  &__selectors {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__selectorBox {
    width: 25%;
  }

  &__selectorBox > input{
    display: inline;
    width: 20%;
  }

  &__addressBox {
    display: flex;
    flex-flow: row wrap;

    & > *:not(:first-child) {
      margin-right: 5%;
    }

    &__element-full {
      width: 100%;
    }

    &__element-half {
      width: 45%;
    }
  }

  &__btn {
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius);
    padding: 1.2rem 0;
    color: var(--color-white);
  }

  &__btn:hover {
    background-color: var(--color-hover);
  }

  &__btn:active {
    background-color: var(--color-active);
    opacity: 0.8;
  }
}