// Resetting
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

// Base Styles
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--color-body-bg);
  color: var(--color-text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
textarea,
button,
select,
option {
  font-family: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
}

svg {
  color: inherit;
  fill: currentColor;
}

textarea {
  resize: none;
}
