.reservation-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-white);
  background: linear-gradient(to right, var(--color-primary-400) 0%, var(--color-primary) 50%, var(--color-primary-600) 100%);
  border-radius: var(--border-radius);
  border: none;
  padding: 1.2rem 2.4rem;

  &--full {
    width: 100%;
  }
}
