.account-dropdown {
  &__header {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    padding: 1.2rem;
    margin: 0 0.8rem;
  }

  &__header-top {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 0.8rem;
  }

  &__user-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__outline-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 2.1rem;
    padding: 0 1.2rem;
    transition: all 0.2s;

    &:hover {
      filter: brightness(0.95);
    }
  }

  &__content {
    margin-top: 1.6rem;

    // & > .account-dropdown__list:not(:last-of-type) {
    //   border-bottom: var(--separator-line-1);
    //   border-bottom: 1px solid #ced0d4;

    //   padding-bottom: 0.8rem;
    //   margin-bottom: 0.8rem;
    // }
  }

  &__list > li:not(:last-child) {
    margin-bottom: 0.2rem;
  }

  &__divider {
    border-width: 0;
    height: 1px;
    background-color: #dadde1;
    color: #dadde1;
    margin: 0.8rem;
  }

  &__link {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0.8rem;
    transition: background-color 100ms cubic-bezier(0, 0, 1, 1);
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &-title {
      font-size: 1.5rem;
      font-weight: 500;
      margin-left: 1.2rem;
    }
  }
}
