.hosting-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 20rem;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  padding: 1.6rem;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25rem;
    height: 25rem;
    transform: translate(-50%, calc(-50% + 2rem));
    border-radius: 50%;
    z-index: 1;
    background-color: var(--color-primary);
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 6.2rem;
  }

  &__price-box {
    display: flex;
  }

  &__price {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4rem;
  }

  &__cycle {
    font-size: 1.4rem;
    font-weight: 400;
    align-self: flex-end;
  }

  &__type {
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 0.4rem;
    margin-bottom: 2rem;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 3px;
      border-radius: 100px;
      background-color: var(--color-white);
      transform: translateX(50%);
    }
  }

  &__list {
    width: 100%;
    margin-bottom: 2.4rem;

    > li:not(:last-child) {
      padding-bottom: 0.8rem;
      border-bottom: var(--separator-line-1);
      margin-bottom: 0.8rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--color-text-secondary);

    &-title {
      font-size: 1.4rem;
      font-weight: 400;
      margin: 0 auto 0 0.2rem;
    }

    &-value {
      font-weight: 500;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.03px;
    border: 1px solid var(--color-text-secondary);
    border-radius: 100px;
    background-color: transparent;
    padding: 0.6rem 3.2rem;
    transition: all 0.2s;

    &:hover {
      border-color: var(--color-delete);
      background-color: var(--color-delete);
      color: var(--color-white);
    }
  }
}