.section-title {
  position: relative;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3rem;
  padding-left: 1.2rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: var(--color-primary);
    border-radius: 100px;
  }
}
