.search {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f2f2;

  @media only screen and (min-width: 48em) {
    flex: 0 0 40%;
    background: transparent;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: #f4f2f2;
    border: none;
    padding: 0.7rem 5rem 0.7rem 0.38rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.5rem;
    transition: all 0.2s;

    @media only screen and (min-width: 48em) {
      padding: 0.7rem 5rem 0.7rem 2rem;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc;
    }

    &:focus {
      outline: none;

      @media only screen and (min-width: 48em) {
        width: 100%;
        background: #f0eeee;
      }
    }
  }

  &__input:focus + &__button {
    background: #f0eeee;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background: #f4f2f2;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
